# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*
firebase.json

# Dependencies
node_modules/

# Secrets
.env
.env.local
.env.*.local

# Build/Public
public/index.html.bak
*.bak

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
